/************************/
/**** navigation bar ****/
/************************/
header {
  background-color: #39537b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  border: 2px solid black;
  color: white;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  opacity: 0.7;
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

li a {
  color: #bb778a;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 20px;
  margin-top: 5px;
}

li a:hover {
  color: white;
}

h1 {
  font-size: 30px;
}

/************************/
/**** Hero Container ****/
/************************/
.hero-container {
  background-image: url("../images/howl-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  display: flex;
  opacity: 0.9;
}

.hero-container div {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  padding: top;
  width: 100%;
}

/************************/
/**** Form Container ****/
/************************/
form {
  display: grid;
  border: 2px solid #bb778a;
  border-radius: 7px;
  align-content: left;
  align-items: left;
  text-align: left;
  justify-content: left;
  margin-left: 10px;
  text-align: center;
  /* height: 90%; */
}

.action {
  grid-column: span 4;
  grid-row: span 4;
  padding: 50px;
  background: #39537b;
}

.call-action {
  margin-top: 15%;
  margin-left: 10%;
}

.call-action button {
  border: none;
  background-color: #39537b;
  color: white;
  border-radius: 5px;
  padding: 15px;
}
.call-action button a {
  height: 100%;
  width: 100%;
}

label {
  padding: 3px;
}

input {
  width: 100%;
}

button {
  margin: 10px 0px 25px 0px;
  display: flex;
  justify-content: center;
  background-color: #bb778a;
  color: white;
  font-weight: 500px;
}

/************************/
/**** grid-container ****/
/************************/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 10px;
  height: 100%;
}

.content {
  background-color: #39537b;
  display: grid;
  grid-column: span 2;
  border: 3px solid #bb778a;
  grid-row: span 3;
  width: 100%;
  /* height: 50vh; */
  display: grid;
  text-align: center;
  align-content: center;
  color: white;
  text-align: center;
}

.content h2 {
  padding-top: 40px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}

.content p {
  margin: 40px;
  font-size: 30px;
  font-family: "Cantarell", sans-serif;
}

.synopsis {
  background-image: url("../images/calfiver-wide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-column: span 2;
  grid-row: span 3;
  width: 100%;
  /* height: 50vh; */
  display: grid;
  text-align: center;
  align-content: center;
  color: white;
  text-align: center;
  padding: 150px;
}

.characters {
  background-image: url("../images/howl-castle-wide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: span 2;
  grid-row: span 3;
  width: 100%;
  padding: 150px;
  /* height: 50vh; */
  display: grid;
  text-align: center;
  align-content: center;
  color: white;
}

.ghibli {
  background-color: #39537b;
  grid-column: span 2;
  grid-row: span 3;
  border: 3px solid #bb778a;
  width: 100%;
  /* height: 50vh; */
  display: grid;
  text-align: center;
  align-content: center;
  color: white;
}

.ghibli h2 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
}

.ghibli p {
  margin: 50px;
  font-size: 30px;
  font-family: "Cantarell", sans-serif;
}

/**** Footer *****/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
}
